body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #009970;
    text-decoration: none;
  }
  
  a:hover {
    color: #00cc95;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  
  /*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
  #header {
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    top: 20px;
  }
  
  #header .header-container {
    background: #fff;
  }
  
  #header.header-scrolled {
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    top: 0;
  }
  
  #header .logo {
    overflow: hidden;
    padding: 16px 30px 12px 30px;
    background: #009970;
  }
  
  #header .logo h1 {
    font-size: 26px;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }
  
  #header .logo h1 a, #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  @media (max-width: 992px) {
    #header {
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
      top: 0;
      background: #009970;
    }
    #header.header-scrolled, #header .header-container {
      background: #009970;
    }
    #header .logo {
      padding-left: 0;
    }
    #header .logo h1 {
      font-size: 24px;
    }
  }
  .navbar {
    padding: 0;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navbar li {
    position: relative;
  }
  .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    color: #36343a;
    transition: 0.3s;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    white-space: nowrap;
    transition: 0.3s;
  } 
  .navbar a:hover, .navbar .active, .navbar li:hover > a {
    color: #009970;
  }
  
  .navbar .getstarted {
    background: #009970;
    padding: 10px 25px;
    margin-left: 30px;
    margin-right: 15px;
    border-radius: 50px;
    color: #fff;
  }
  
  .navbar .getstarted:hover {
    color: #fff;
    background: #00b383;
  }

  #banner {
    width: 100%;
    height: 80vh;
    background: url("images/computer-2982270_1920.jpg") center center;
    background-size: cover;
    position: relative;
  }
  
  #banner .container {
    padding-top: 80px;
  }
  
  #banner:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #banner h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
  #banner h2 {
    color: #eee;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  
  #banner .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #banner .btn-get-started:hover {
    background: #009970;
    border: 2px solid #009970;
  }
  
  @media (min-width: 1024px) {
    #banner {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #banner {
      height: 100vh;
    }
    #banner .container {
      padding-top: 60px;
    }
    #banner h1 {
      font-size: 32px;
      line-height: 36px;
    }
  }

  .about {
    padding-bottom: 40px;
  }
  
  .about .card {
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
    background: transparent;
  }
  
  .about .card-img {
    width: calc(100% + 60px);
    margin-left: -30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
  }
  
  .about .card-img img {
    height: 300px;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .about .card-body {
    z-index: 10;
    background: #fff;
    border-top: 4px solid #fff;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-top: -60px;
    transition: 0.3s;
  }
  
  .about .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .about .card-title a {
    color: #213b52;
    transition: 0.3s;
  }
  
  .about .card-text {
    color: #5e5e5e;
  }
  
  .about .read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s;
  }
  
  .about .read-more a:hover {
    color: #009970;
  }
  
  .about .card:hover img {
    transform: scale(1.1);
  }
  
  .about .card:hover .card-body {
    border-color:#009970;
  }
  
  .about .card:hover .card-body .card-title a {
    color: #009970;
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 100px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f6f6f7;
  }
  
  .section-title {
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #009970;
    bottom: 0;
    left: 0;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  

  .services {
    padding-bottom: 40px;
  }
  
  .services .card {
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
    background: transparent;
  }
  
  .services .card-img {
    width: calc(100% + 60px);
    margin-left: -30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
  }
  
  .services .card-img img {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .services .card-body {
    z-index: 10;
    background: #fff;
    border-top: 4px solid #fff;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-top: -60px;
    transition: 0.3s;
  }
  
  .services .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .services .card-title a {
    color: #213b52;
    transition: 0.3s;
  }
  
  .services .card-text {
    color: #5e5e5e;
  }
  
  .services .read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s;
  }
  
  .services .read-more a:hover {
    color: #009970;
  }
  
  .services .card:hover img {
    transform: scale(1.1);
  }
  
  .services .card:hover .card-body {
    border-color:#009970;
  }
  
  .services .card:hover .card-body .card-title a {
    color: #009970;
  }

  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  .portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
  }
  
  .portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(00, 99, 70, 0.6);
    position: absolute;
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
  }
  
  .portfolio .portfolio-wrap img {
    transition: 0.3s;
  }
  .portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }
  
  .portfolio .portfolio-wrap .portfolio-info p {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .portfolio .portfolio-wrap:hover::before {
    left: 0;
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-links {
    opacity: 1;
    top: calc(50% - 18px);
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
    bottom: 0;
  }
  
.testimonials {
    padding: 80px 0;
    background: #009970;
    position: relative;
}
.testimonials .testimonial-item {
    text-align: center;
    color: #fff;
}  
.testimonials .testimonial-item .testimonial-img {
    width: 100px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
}  
.testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #fff;
}  
.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #ddd;
    margin: 0 0 15px 0;
}
.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
    color: #eee;
} 
@media (min-width: 1024px) {
    .testimonials {
      background-attachment: fixed;
    }
}  
@media (min-width: 992px) {
    .testimonials .testimonial-item p {
      width: 80%;
    }
}

  .team {
    background: #fff;
  }
  
  .team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
  }
  
  .team .member .pic {
    overflow: hidden;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
  }
  
  .team .member .pic img {
    transition: ease-in-out 0.3s;
  }
  
  .team .member:hover img {
    transform: scale(1.1);
  }
  
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #36343a;
  }
  
  .team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
  }
  
  .team .member span::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #b5b3ba;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
  }
  
  .team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .team .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #a8a5ae;
  }
  
  .team .member .social a svg {
    color: #fff;
    font-size: 16px;
    margin: 0 2px;
  }
  
  .team .member .social a:hover {
    background: #009970;
  }
  .team .member .social a + a {
    margin-left: 8px;
  }

  .contact .info {
    padding: 30px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  .contact .info svg {
    font-size: 20px;
    color: #fff;
    float: left;
    width: 44px;
    height: 44px;
    padding: 6px;
    background: #009970;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #36343a;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #686470;
  }
  
  .contact .email-form {
    width: 100%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }
  .contact .email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .email-form input, .contact .email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .email-form input {
    height: 44px;
  }
  
  .contact .email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .email-form button[type="submit"] {
    background: #009970;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .contact .email-form button[type="submit"]:hover {
    background: #00805d;
  }
  
  #footer {
    background: #009970;
    padding: 0 0 30px 0;
}  
#footer .footer-top {
    background: #009970;
    border-top: 1px solid #37332a;
    padding: 50px 0 0px 0;
} 
#footer .footer-top .social-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#footer .footer-top .social-links a {
    display: inline-block;
    background: #ffffff;
    margin-right: 34px;
    margin-bottom: 15px;
    border-radius: 50%;
    color: #009970;
    text-align: center;
    width: 70px;
    height: 70px;
    transition: 0.3s;
}  
#footer .footer-top .social-links a .socialLink{
    margin-top: 17px;
}
#footer .footer-top .social-links a:hover {
    background: #01bd8b;
    color: rgb(255, 255, 255);
    text-decoration: none;
} 
#footer .copyright {
    color: white;
    text-align: center;
    padding-top: 30px;
}  

.back-to-top {
    position: fixed;
    right: 18px;
    bottom: 15px;
    z-index: 995;
} 
.back-to-top svg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    color: #009970;
    transition: all 0.4s;
    border: 2px solid #009970;
}
.back-to-top svg:hover {
    background: #009970;
    color: #1a1814;
}